<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Alphanumeric Warning Bulletins and Alerts (Beta)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=VT323&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/faenza-weather-severe-alert-symbolic.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="title">Alphanumeric Warning Bulletins and Alerts <span class="orange">(Beta)</span></h1>
    <h3 class="subtitle">from Meteorological Service of Canada's live feed<a style="cursor: pointer; padding-left: 10px; font-size: 0.8em" data-show="modal">[what is this?]</a></h3>
    <fieldset>
        <legend>Connection</legend>
        <input id="disconnect" type="button" value="Disconnect" />
        <input id="connect" type="button" value="Connect" />
    </fieldset><fieldset>
        <legend>Filter</legend>
        <select id="region_filter" autocomplete="off">
            <option value="any" selected>The World</option>
            <option value="CA">Canada</option>
            <option value="US">United States of America</option>
        </select>
        <input type="checkbox" id="sigmet_filter"><label for="sigmet_filter">Ignore <abbr title="Significant Meteorological Information (concerns aircraft)">SIGMET</abbr> &amp; <abbr title="Airmen's Meteorological Information">AIRMET</abbr></label>
    </fieldset>
    <hr />
    <div class="flex-container">
        <div id="terminal" class="terminal">
            <div id="current_wmo_al"></div>
            <span id="current_bulletin">Waiting... </span>
            <span class="caret">&nbsp;</span>
            <div class="scanlines"></div>
        </div>
        <div id="messages_container" class="terminal">
            <ul id="messages">
                <div class="scanlines"></div>
            </ul>
        </div>
    </div>
    <hr />
    <footer>
        <p>❤️ Many thanks to ECCC for making this data open and accessible to the public.</p>
        <p class="smaller">
            Copyright © 2022 <a href="https://www.justinbull.ca">Justin A. S. Bull</a></p>
        </p>
        <p class="smaller">
            Contains information licenced under the <a href="https://eccc-msc.github.io/open-data/licence/readme_en/">Data Server End-use Licence</a> of Environment and Climate Change Canada.<br />
            Data Source: <a href="https://eccc-msc.github.io/open-data/readme_en/">Environment and Climate Change Canada</a><br />
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25" viewBox="0 0 9600 4800">
            <title>Flag of Canada</title>
            <path fill="yellowgreen" d="m0 0h2400l99 99h4602l99-99h2400v4800h-2400l-99-99h-4602l-99 99H0z"/>
            <path fill="#000" d="m2400 0h4800v4800h-4800zm2490 4430-45-863a95 95 0 0 1 111-98l859 151-116-320a65 65 0 0 1 20-73l941-762-212-99a65 65 0 0 1-34-79l186-572-542 115a65 65 0 0 1-73-38l-105-247-423 454a65 65 0 0 1-111-57l204-1052-327 189a65 65 0 0 1-91-27l-332-652-332 652a65 65 0 0 1-91 27l-327-189 204 1052a65 65 0 0 1-111 57l-423-454-105 247a65 65 0 0 1-73 38l-542-115 186 572a65 65 0 0 1-34 79l-212 99 941 762a65 65 0 0 1 20 73l-116 320 859-151a95 95 0 0 1 111 98l-45 863z"/>
        </svg>
    </footer>
    <div id="modal" hidden="true">
        <div class="modal-content">
            <button data-dismiss="modal" class="close-x">×</button>
            <h1>What is this?</h1>
            <p class="orange">This is still experimental software!</p>
            <p>A fun project thanks to the open data from Environment and Climate Change Canada's Meteorological Service of Canada.</p>
            <p>It simply shows all weather warnings, live!</p>
            <p>Specifically, it connects to <a href="https://eccc-msc.github.io/open-data/msc-datamart/readme_en/">MSC's Datamart</a>
                <abbr title="Advanced Message Queuing Protocol">AMQP</abbr> live feed, listening to all alphanumeric meteorological bulletins
                from Canada and around the world. The live feed exposes part of World Meteorological Organization's <a href="https://en.wikipedia.org/wiki/Global_Telecommunications_System">Global Telecommunications System</a>
                (GTS), a very cool and old system predating the Internet but still very much used today.
            </p>
            <p>GTS is the real deal: it's as straight to the source as you can get. This page displays the bulletins in their original, raw format. It's old-timey, hence this retro look and feel 😎</p>
            <p>Occasionally the page will display the alerts we all know and love issued under the Common Alert Protocol (CAP). Y'know, the ones that can make your phone scream like an "<a href="https://en.wikipedia.org/wiki/Amber_alert">Amber Alert</a>" if there's a life-threatening storm.</p>
            <p>In short, this system is (basically) the same backend feed that powers other Canadian governmental departments and private institutions alike. What you see here is near instant from the issuing stations/processing centres and can often beat sites like weather.ca or what gets pushed to your phone.</p>
            <p><button data-dismiss="modal">Ok, cool</button></p>
        </div>
    </div>
    <script>
        const persistedOptions = new URLSearchParams(window.location.search);
        const applyPersistedOptionsToUrl = () => {
            const url = new URL(window.location.href);
            url.search = persistedOptions.toString();
            history.replaceState({ path: url.href }, '', url.href);
        }

        const modal_el = document.getElementById("modal");
        const close_modal_els = modal_el.querySelectorAll("*[data-dismiss='modal']");
        close_modal_els.forEach((element) => {
            element.onclick = (e) => {
                e.preventDefault();
                modal_el.hidden = true;
            }
        });
        const show_modal_els = document.querySelectorAll("*[data-show='modal']");
        show_modal_els.forEach((element) => {
            element.onclick = (e) => {
                e.preventDefault();
                modal_el.hidden = false;
            }
        });


        const humanReadyState = (ws) => {
            switch(ws.readyState) {
                case ws.CLOSED:
                    return 'CLOSED';
                case ws.CLOSING:
                    return 'CLOSING';
                case ws.CONNECTING:
                    return 'CONNECTING';
                case ws.OPEN:
                    return 'OPEN';
                default:
                    return '<Unknown>';
            }
        }

        const messages_ul_el = document.getElementById("messages");
        const current_wmo_al = document.getElementById("current_wmo_al");
        const current_bulletin_el = document.getElementById("current_bulletin");
        const terminal_el = document.getElementById("terminal");

        let slowTextTimeouts = [];

        const slowBulletinText = (ahl, text, speed = 30) => {
            slowTextTimeouts.forEach((timeout) => {
                clearTimeout(timeout);
            })
            slowTextTimeouts = [];
            current_wmo_al.innerText = `[${ahl}]`;
            current_bulletin_el.innerText = '';
            const lines = text.split(/\r?\n/);
            for(i = 0; i < lines.length; i++) {
                const myLine = lines[i];
                const timeout = setTimeout((line, isFirst) => {
                    const existingText = current_bulletin_el.innerText;
                    current_bulletin_el.innerText = `${existingText}${isFirst ? '' : '\n'}${line}`;
                    scrollBottom();
                }, speed * i, myLine, i === 0);
                slowTextTimeouts.push(timeout);
            }
        }

        const receiveMessage = (payload) => {
            const parsedPayload = JSON.parse(payload);
            const newListItem  = document.createElement("li");
            if (parsedPayload["heartbeat"]) {
                console.log('Got WS keepalive heartbeat:', parsedPayload["heartbeat"]);
                return;
            }
            if (parsedPayload["sysmsg"]) {
                // newListItem.classList.add('sysmsg')
                newListItem.appendChild(document.createTextNode("[SYS] " + parsedPayload["sysmsg"]));
                // current_bulletin_el.innerText = `[SYSTEM MESSAGE] ${parsedPayload["sysmsg"]}`;
                if ("region_filter" in parsedPayload) {
                    region_filter_el.disabled = false;
                }
                if ("sigmet_filter" in parsedPayload) {
                    sigmet_filter_el.disabled = false;
                }
            } else {
                newListItem.appendChild(document.createTextNode(`[RECV] [${parsedPayload['routing_key']}] ${parsedPayload["message"]}`));
            }
            messages_ul_el.appendChild(newListItem);
            scrollBottom();
            if (parsedPayload["bulletin"]) {
                const wmoAhl = parsedPayload["message"]
                    .split("/")
                    .slice(-1)[0]
                    .split("_")
                    .slice(0, 3)
                    .join(" ")
                slowBulletinText(wmoAhl, parsedPayload["bulletin"]);
                // current_bulletin_el.innerText = parsedPayload["body"];
            }
        }

        const sysMessage = (messageStr) => {
            const newListItem  = document.createElement("li");
            newListItem.appendChild(document.createTextNode(`*${messageStr}*`));
            newListItem.classList.add('sysmsg');
            messages_ul_el.appendChild(newListItem);
            scrollBottom();
        }

        const disconnect_btn = document.getElementById("disconnect");
        disconnect_btn.onclick = (e) => {
            e.preventDefault();
            ws.close();
            region_filter_el.value = 'any';
            current_bulletin_el.innerText = 'Waiting...';
        }
        const connect_btn = document.getElementById("connect");
        connect_btn.onclick = (e) => {
            e.preventDefault();
            if (ws.readyState == ws.CLOSED) {
                ws = connectToWs();
            } else {
                sysMessage(`Cannot connect. Websocket not closed: ${humanReadyState(ws)}`)
            }
        }

        const sigmet_filter_el = document.getElementById("sigmet_filter");
        sigmet_filter_el.checked = persistedOptions.get('sigmet_filter') === 'true';
        sigmet_filter_el.onchange = (event) => {
            const val = event.target.checked;
            persistedOptions.set('sigmet_filter', val);
            applyPersistedOptionsToUrl();
            if (!ws || ws.readyState !== ws.OPEN) {
                return;
            }
            sigmet_filter_el.disabled = true;
            ws.send(JSON.stringify({ sigmet_filter: val }));
            const newListItem  = document.createElement("li");
            newListItem.appendChild(document.createTextNode('[SEND] Filter out SIGMET messages'));
            messages_ul_el.appendChild(newListItem);
        }

        const region_filter_el = document.getElementById("region_filter");
        region_filter_el.value = persistedOptions.get('region_filter') ?? 'any';
        region_filter_el.onchange = (event) => {
            const val = event.target.value;
            persistedOptions.set('region_filter', val);
            applyPersistedOptionsToUrl();
            if (!ws || ws.readyState !== ws.OPEN) {
                return;
            }
            region_filter_el.disabled = true;
            ws.send(JSON.stringify({ region_filter: val }));
            const newListItem  = document.createElement("li");
            newListItem.appendChild(document.createTextNode(`[SEND] Filter for ${val} region messages`));
            messages_ul_el.appendChild(newListItem);
        }

        const scrollBottom = () => {
            terminal_el.scrollTop = terminal_el.scrollHeight;
            messages_ul_el.scrollTop = messages_ul_el.scrollHeight;
        }

        const connectToWs = () => {
            const wsUrl = new URL(window.location);
            wsUrl.protocol = wsUrl.protocol === 'https:' ? 'wss:' : 'ws:' ;
            wsUrl.pathname += '/ws';
            const _ws = new WebSocket(wsUrl.toString());
            _ws.onopen = (event) => {
                sysMessage("Websocket opened!");
                // TODO: withhold if nothing to send/are defaults
                ws.send(JSON.stringify({
                    region_filter: region_filter_el.value,
                    sigmet_filter: sigmet_filter_el.checked,
                }));
            }
            _ws.onclose = (event) => {
                sysMessage("Websocket closed!");
            }
            _ws.onerror = (event) => {
                sysMessage("Websocket error!");
                console.error(event);
            }
            _ws.onmessage = (event) => {
                receiveMessage(event.data);
            };
            return _ws;
        }
        let ws = connectToWs();
    </script>
</body>
</html>
